[submodule "noxfi-web-public"]
	path = noxfi-web-public
	url = https://github.com/TeamHeimdallr/noxfi-web-public
[submodule "noxfi-core-contract"]
	path = noxfi-core-contract
	url = https://github.com/koe7/noxfi-core-ethparis
